* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  padding-top: 20px; /* espaçamento superior */
  padding-right: 100px; /* espaçamento direita */
  padding-left: 100px; /* espaçamento esquerda */
}

.conteudo {
  width: 100%;
  display: flex; /* permite alterar a posição dos elementos na tela */
  justify-content: space-between; /* justica/alinha os componentes na horizontal */
  align-items: center; /* alinha verticalmente*/
}

.caixa-texto {
  width: 500px; /* largura*/
}

.caixa-imagem {
  width: 300px;
  display: flex;
  justify-content: flex-end;
  margin-top: 100px; /*margem superior */
}

.menu {
  display: flex;
  justify-content: center; /* centraliza os itens na horizontal*/
}
.logo {
  width: 50px;
}

.starbucks {
  width: 220px;
  z-index: 2; /* define se o item está a frente ou atrás */
}

.botao-menu {
  width: 60px;
  cursor: pointer; /* altera a aparecencia do cursor (maozinha) quando passa sobre o elemento */
  transition: 1s; /* auxilia o transform do hover deixando + suave */
  margin: 10px;
}

/* aplicando efeito de pulo nas imagens do menu*/
.botao-menu:hover {
  transform: translateY(-35px);
}

h2 {
  gap: 20px; /* distancia os itens*/
  color: #333; /* cor do texto */
  font-size: 40px; /* tamanho do texto */
  font-weight: 500; /* espessura do texto */
}

span {
  color: #017143;
  font-size: 50px;
  font-weight: 900;
}

p {
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 30px;
}

button {
  background: #017143; /* cor de fundo*/
  color: #ffffff;
  border-radius: 18px; /* cantos da borda arredondadas*/
  border: none; /* sem borda*/
  cursor: pointer;
  padding: 12px; /*espaçamento dos itens */
  margin-top: 20px; /* margem superior */

  font-size: 16px;
  font-weight: 400;
  transition: transform 0.3s, box-shadow 0.3s; /* Animação suave para transformações */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para efeito 3D */
}

button:hover {
  transform: translateY(-4px); /* Eleva o botão ao passar o mouse */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Aumenta a sombra para realçar o efeito 3D */
}

.circulo {
  position: absolute; /* ocupar posição absoluta */
  background: #017143; /* cor de fundo */
  width: 100%; /* ocupa 100% da largura */
  height: 100%; /* ocupa 100% da altura */

  /* isso faz a caixa ocupar toda a tela */
  top: 0;
  left: 0;

  /* cria o efeito de cirulo  */
  clip-path: circle(380px at right 500px);

  z-index: -1; /*faz o cirulo ficar por tras dos demais elementos*/
}

/* Responsividade */
@media (max-width: 768px) {
  body {
    padding: 10px;
  }

  .conteudo {
    flex-direction: column; /* Alinha os itens em coluna */
    align-items: center; /* Centraliza o conteúdo na coluna */
  }

  .caixa-texto {
    width: 100%; /* Garante que o elemento ocupe toda a largura disponível */
    margin: 0 auto; /* Centraliza o elemento horizontalmente */
    padding: 0 10px; /* Adiciona padding horizontal para evitar que o texto fique colado nas bordas */

    text-align: justify; /* Justifica o texto */
  }

  .caixa-imagem {
    display: none; /* Remove a imagem grande em telas menores */
  }

  .logo {
    margin-top: 30px;
    align-self: flex-start; /* Mantém o logo no canto superior esquerdo */
  }

  .menu {
    align-items: center;
  }

  .botao-menu {
    margin-top: 70px;
    margin-bottom: 10px; /* Adiciona espaçamento entre as imagens do menu */
  }

  .circulo {
    position: absolute; /* Define posição absoluta */
    background: #017143; /* Cor de fundo */
    width: 100%; /* Ocupa 100% da largura */
    height: 100%; /* Ocupa 100% da altura */

    /* Ajuste de posição para mover o círculo para baixo */
    top: 190px; /* Altere o valor para controlar a distância do topo */
    left: 0;

    /* Cria o efeito de círculo */
    clip-path: circle(380px at right 490px);

    z-index: -1; /* Faz o círculo ficar por trás dos demais elementos */
  }

  h2 {
    margin-top: 25px;
    font-size: 20px; /* tamanho do texto */
  }

  span {
    font-size: 28px;
  }

  p {
    font-size: 15px;
    margin: 0; /* Remove a margem padrão do parágrafo */

  }
}

@media (max-width: 430px) {
  .circulo {
    clip-path: circle(200px at right 40%); /* Ajusta o tamanho do círculo e a posição para telas menores */
  }

}
